<div class="about">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="./img/about_us.jpg" alt="About us" class="image img-fluid">
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-start">
            <h2 class="title text-left">What we are</h2>
            <p><strong>Podiliya Gold</strong> – the worldwide producer and exporter of sunflower oil based in Ukraine. We are the supplier of crude / refined sunflower oil products, as well as oilseed press cake from all regions to world markets.</p>
            <p>We export our products into more than 10 countries of the world. We are rapidly growing company with fast-paced doers in charge and modern corporate culture.</p>
            <button class="btn btn-primary btn-lg bg-transparent mt-3">Contact us</button>
        </div>
    </div>
</div>