<div class="certifications">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center mb-4 mb-md-5">Certifications</h2>
            <div class="certifications_slider">
                <div class="owl-carousel">
                    <a href="./img/certifications/cert_1.pdf" target="_blank" class="item">
                        <div class="image" style="background-image: url(./img/certifications/cert_1_main.jpg);"></div>
                        <div class="caption">Certification 1</div>
                    </a>
                    <a href="./img/certifications/cert_2.pdf" target="_blank" class="item">
                        <div class="image" style="background-image: url(./img/certifications/cert_2_main.jpg);"></div>
                        <div class="caption">Certification 2</div>
                    </a>
                    <a href="./img/certifications/cert_3.pdf" target="_blank" class="item">
                        <div class="image" style="background-image: url(./img/certifications/cert_3_main.jpg);"></div>
                        <div class="caption">Certification 3</div>
                    </a>
                    <a href="./img/certifications/cert_4.pdf" target="_blank" class="item">
                        <div class="image" style="background-image: url(./img/certifications/cert_4_main.jpg);"></div>
                        <div class="caption">Certification 4</div>
                    </a>
                    <a href="./img/certifications/cert_5.pdf" target="_blank" class="item">
                        <div class="image" style="background-image: url(./img/certifications/cert_5_main.jpg);"></div>
                        <div class="caption">Certification 5</div>
                    </a>
                </div>
            </div>
            <button class="btn btn-primary bg-transparent btn-download mt-4">Download all certifications</button>
        </div>
    </div>
</div>