<header class="header">
    <div class="row align-items-center h-100">
        <div class="col-3">
            <div class="logo">
                <img class="img-fluid" src="./img/logo.svg" alt="">
            </div>
        </div>
        <div class="col-6 h-100">
            <nav class="header_nav">
                <ul class="header_nav_menu h-100">
                    <li class="header_nav_item text-center h-100">
                        <a class="header_nav_link" href="#home">Home</a>
                    </li>
                    <li class="header_nav_item text-center h-100">
                        <a class="header_nav_link" href="#market">Market</a>
                    </li>
                    <li class="header_nav_item text-center h-100">
                        <a class="header_nav_link" href="#contacts">Contacts</a>
                    </li>
                    <li class="header_nav_item text-center h-100">
                        <a class="header_nav_link" href="#offers">Offers</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-end">
            <div class="languages d-flex">
                <div class="item active">
                    <a href="#en">EN</a>
                </div>
                <div class="item">
                    <a href="#ua">UA</a>
                </div>
            </div>
            <button class="btn btn-secondary btn-lg">Contact us</button>
        </div>
    </div>
</header>