<div class="market_table">
    <h2 class="title d-none d-md-block">Ukrainian market</h2>
    <div class="table_wrap">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Price/t</th>
                <th scope="col">Mass(t)</th>
                <th scope="col">Agent</th>
                <th scope="col" colspan="2">Type</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    <button class="btn btn-buy">Buy</button>
                </th>
                <td>200$</td>
                <td>12 000</td>
                <td>UAB Zelli</td>
                <td>Crude oil</td>
                <td>Nikolaev, Nikolaevskiy ray…</td>
                <td>19.02.2020 18:46</td>
            </tr>
            <tr>
                <th>
                    <button class="btn btn-sell">Sell</button>
                </th>
                <td>200$</td>
                <td>12 000</td>
                <td>UAB Zelli</td>
                <td>Crude oil</td>
                <td>Nikolaev, Nikolaevskiy ray…</td>
                <td>19.02.2020 18:46</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>