<div class="market_table">
    <h2 class="title d-none d-lg-block">Ukrainian market</h2>
    <div class="table_wrap d-flex">
        <div class="table_inner pr-3 pr-lg-0 w-auto w-md-100">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Price/t</th>
                    <th scope="col">Mass(t)</th>
                    <th scope="col">Agent</th>
                    <th scope="col" colspan="2">Type</th>
                    <th scope="col">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-buy btn-primary w-100" data-toggle="modal" data-target="#buy_id">Buy</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-sell w-100" data-toggle="modal" data-target="#sell_id">Sell</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-buy btn-primary w-100" data-toggle="modal" data-target="#buy_id">Buy</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-sell w-100" data-toggle="modal" data-target="#sell_id">Sell</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-buy btn-primary w-100" data-toggle="modal" data-target="#buy_id">Buy</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-sell w-100" data-toggle="modal" data-target="#sell_id">Sell</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-buy btn-primary w-100" data-toggle="modal" data-target="#buy_id">Buy</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-sm btn-sell w-100" data-toggle="modal" data-target="#sell_id">Sell</button>
                    </td>
                    <td>200$</td>
                    <td>12 000</td>
                    <td>UAB Zelli</td>
                    <td>Crude oil</td>
                    <td>Nikolaev, Nikolaevskiy ray…</td>
                    <td>19.02.2020 18:46</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>