<div class="row">
    <div class="col-12">
        <div class="prices">
            <h2 class="title mt-3">Our price</h2>
            <div class="prices_item">
                <div class="caption">
                    <span>Crude sunflower oil</span>
                </div>
                <div class="price">
                    <span>751,23$</span>
                </div>
            </div>
            <div class="prices_item">
                <div class="caption">
                    <span>Crude sunflower oil</span>
                </div>
                <div class="price">
                    <span>751,23$</span>
                </div>
            </div>
            <div class="prices_item">
                <div class="caption">
                    <span>Crude sunflower oil</span>
                </div>
                <div class="price">
                    <span>751,23$</span>
                </div>
            </div>
        </div>
    </div>
</div>