<div class="modal fade" id="buy_id" tabindex="-1" role="dialog" aria-labelledby="Buy ID" aria-hidden="true">
    <div class="modal-dialog modal_contact modal_market" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            <div class="contact_form_wrap">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="m-0">Buy</h2>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button class="btn btn-more">More</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="date">07 April 2020, 21:32</div>
                    </div>
                </div>

                <form action="/" method="post">
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="type[buy]">Type</label>
                        <input id="type[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="volume[buy]">Объём</label>
                        <input id="volume[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="price[buy]">Цена</label>
                        <input id="price[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="tax[buy]">НДС</label>
                        <input id="tax[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="delivery[buy]">Условия поставки:</label>
                        <input id="delivery[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-group ffl-wrapper">
                        <label class="ffl-label" for="adress[buy]">Место</label>
                        <input id="adress[buy]" type="text" class="form-control form-control-lg">
                    </div>
                    <div class="form-row">
                        <div class="form-group ffl-wrapper col-4">
                            <label class="ffl-label" for="termine[buy]">Срок поставки</label>
                            <input id="termine[buy]" type="text" class="form-control form-control-lg">
                        </div>
                        <div class="form-group ffl-wrapper col-4">
                            <label class="ffl-label" for="month[buy]">Месяц поставки</label>
                            <input id="month[buy]" type="text" class="form-control form-control-lg">
                        </div>
                        <div class="form-group ffl-wrapper col-4">
                            <label class="ffl-label" for="expiration[buy]">Срок действия</label>
                            <input id="expiration[buy]" type="text" class="form-control form-control-lg">
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
            <div class="modal_footer">
                <div class="row">
                    <div class="col">ЧП Лек-Стар</div>
                </div>
                <div class="row">
                    <div class="col">Юлия 0979986556</div>
                </div>
                <div class="row">
                    <div class="col">Херсонская обл., г. Херсон, Суворовский район</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="http://google.com" target="_blank">podiliyagold.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>