<footer class="page_footer">
    <div class="container-fluid">
        <div class="row">
            <div class="column">
                <div class="logo">
                    <img class="img-fluid mb-2" src="./img/logo.svg" alt="">
                </div>
                <div class="adress">
                    <span>26 Harnizonna str., Khmelnitsky city, Khmelnitsky Reagion, Ukraine, 29000</span>
                </div>
            </div>
            <div class="column fluid">
                <nav class="footer_nav">
                    <div class="link_wrap">
                        <a href="/">Home</a>
                    </div>
                    <div class="link_wrap">
                        <a href="/offers.html">Offers</a>
                    </div>
                    <div class="link_wrap">
                        <a href="/market.html">Market Pricing</a>
                    </div>
                    <div class="link_wrap">
                        <a href="/contacts.html">Contacts</a>
                    </div>
                </nav>
            </div>
            <div class="column">
                <div class="links_block">
                    <a href="#" class="link">Facebook</a>
                    <a href="#" class="link">Linked In</a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="copyright">
            <span>© 2020 Podiliya Gold™</span>
        </div>
    </div>
</footer>
<script src="./js/main.min.js"></script>