<div class="footer_block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7">
                <h2 class="title">Lets talk about everything!</h2>
                <p class="mt-3 mb-4">Dont like forms? Send us an email, or call phone.</p>
                <div class="row_info right_grow">
                    <div class="label">Phone</div>
                    <div class="caption">+ 38 (050) 834 55 74</div>
                </div>
                <div class="row_info right_grow">
                    <div class="label">Email</div>
                    <div class="caption">info@podiliyagold.com</div>
                </div>
            </div>
            <div class="col-5 d-none d-md-block">
                //= ./components/contact_form.html
            </div>
        </div>
    </div>
</div>