@import "variables";
@import "mixins";


.container-fluid {
  max-width: 1152px;
}

h1 {
@include heading-1();
}

p {
  font-family: $fontFamilyRoboto;
}

a {
  transition: $transition;
}

.text-nowrap {
  white-space: nowrap !important;
}

.btn {
  font-family: $fontFamilyRoboto !important;

  &.btn-lg {
    font-weight: 500;
  }
}