@import "variables";
@import "mixins";


.container-fluid {
  max-width: 1152px;
}

h1 {
  font-size: 34px;
  font-weight: 800;

  @include _media('md') {
    font-size: 47px;
  }
}

a {
  transition: $transition;
}

.text-nowrap {
  white-space: nowrap !important;
}

.btn {
  font-family: $fontFamilyRoboto !important;

  &.btn-lg {
    font-weight: 500;
  }
}