@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import "../../../node_modules/bootstrap/scss/_mixins";

@mixin _media($breakpoint-value) {
  @media screen and (min-width: map_get($grid-breakpoints, $breakpoint-value)) {
    @content;
  }
}

@mixin heading-1($font-weight: 800) {
  font-size: 34px;
  font-weight: $font-weight;

  @include _media('md') {
    font-size: 47px;
  }
}

@mixin heading-2($font-weight: 700) {
  font-size: 1.75rem;
  font-weight: $font-weight;

  @include _media(md) {
    font-size: 2.125rem;
  }
}