@import "../variables";
@import "../mixins";


.certifications {
  padding-top: 4rem;

  @include _media(md) {
    padding-top: 6.25rem;
  }

  .certifications_slider {
    margin: 0 auto;

    @include _media(md) {
      .owl-nav {
        display: block !important;
      }
    }

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &.owl-prev,
      &.owl-next {
        width: 46px;
        padding: 11px 15px !important;
        border-radius: 50%;
        background: $globalFillColor;
        box-shadow: $globalShadow;
      }

      &.owl-prev {
        left: 50px;
      }

      &.owl-next {
        right: 50px;
      }
    }
  }

  .owl-item {
    .item {
      display: block;
      color: $globalStrokeColor;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: $globalStrokeColor;
        text-decoration: none;
      }

      .image {
        border-radius: 15px;
        overflow: hidden;
        box-shadow: $globalShadow;
        transition: $transition;

        img {
          object-fit: cover;
          object-position: top;
        }
      }

      .caption {
        padding-top: 10px;
        font-size: 18px;
      }
    }
  }

  .btn-download {
    color: $globalStrokeColor;
  }
}