@import "../variables";
@import "../mixins";


.footer_block {
  width: 100%;
  padding: 50px 0;
  color: $globalFillColor;
  background: $bgGradient, url("/img/footer_block.jpg");

  .title {
    @include heading-1();
  }

  .contact_form_wrap {
    margin: 0 -16px;
    padding: 24px 16px 32px;
    border-radius: $globalBorderRadius;
    color: $globalStrokeColor;
    background: $globalFillColor;

    @include _media(md) {
      margin: 0;
      padding: 32px 40px 40px;
    }

    h2 {
      @include heading-2();
    }
  }
}