@import "../variables";
@import "../mixins";


.footer_block {
  width: 100%;
  padding: 50px 0;
  color: $globalFillColor;
  background: $bgGradient, url("/img/footer_block.jpg");

  .title {
    @include heading-1();
  }
}