@import "../variables";
@import "../mixins";


.header_nav {
  height: calc(100% + 2px);
  margin-bottom: -2px;

  .header_nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .header_nav_item {
    flex: 1;
  }

  .header_nav_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.125rem;
    color: #ffffff;
  }
}