@import "../variables";
@import "../mixins";

.header_block {
  width: 100%;
  padding-bottom: .5rem;
  background: $bgGradient, url(../img/header_block_bg.jpg) no-repeat left bottom;
  background-size: cover;
  color: $globalFillColor;

  @include _media(md) {
    padding-bottom: 4.625rem;
  }

  .page_offers & {
    background: $bgGradient, url(../img/footer_block.jpg) no-repeat top;
    background-size: cover;
    padding-bottom: 1.75rem;

    @include _media(md) {
      padding-bottom: 2.75rem;
    }
  }

  .page_contacts & {
    padding-bottom: 0;
  }
}