@import "../variables";
@import "../mixins";

.header_block {
  width: 100%;
  padding-bottom: .5rem;
  background: $bgGradient, url(../img/header_block_bg.jpg) no-repeat left bottom;
  background-size: cover;
  color: $globalFillColor;

  @include _media(md) {
    padding-bottom: 4.625rem;
  }
}